[Unit]
Description=Запуск получения расписания НПИ через 10с после загрузки

[Timer]
OnBootSec=10s
OnCalendar=*-*-* 0:00:00

[Install]
WantedBy=default.target
